﻿@model int
@{
    ViewBag.Title = "Complete";
}

<h2>Checkout Complete</h2>
<p>Thanks for your order! Your order's number @Model</p>
<p>
    Would you like to continue your shopping in our @Html.ActionLink("store", "Index", "Home")?
</p>

