﻿@model MvcMusicStore.Models.AccountModels.ForgotPasswordModel

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Password retrieval was unsuccessful. Please correct errors and try again.")
    <div>
        <fieldset>
            <legend>Account information</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <p>
                <input type="submit" value="Retrieve Password" />
            </p>
        </fieldset>
    </div>
}
