﻿@model MvcMusicStore.ViewModels.ShoppingCartViewModels.ShoppingCartIndexViewModel
@{
    ViewBag.Title = "Shopping cart";
}

<script src="/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        // Document.ready -> link up remove event handler
        $(".RemoveLink").click(function () {
            // Get the id from the link
            var recordToDelete = $(this).attr("data-id");
            if (recordToDelete != "") {
                // Perform the ajax post
                $.post("/ShoppingCart/RemoveFromCart", { "id": recordToDelete },
                    function (data) {
                        // Successful requests get here
                        // Update the page elements
                        if (data.ItemCount == 0) {
                            $("#row-" + data.DeleteId).fadeOut("slow");
                        } else {
                            $("#item-count-" + data.DeleteId).text(data.ItemCount);
                        }
                        $("#cart-total").text(data.CartTotal);
                        $("#update-message").text(data.Message);
                        $("#cart-status").text("Cart (" + data.AmountOfPurchase + ")");
                    });
            }
        });
    });
</script>

<h3><em>Review</em> your cart:</h3>

<p class="button">
    @Html.ActionLink("Checkout >>", "AdressAndPayment", "Checkout")
</p>
<div id="update-message">
</div>
<table>
    <tr>
        <th>Album Name</th>
        <th>Price (each)</th>
        <th>Quantity</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Albums)
    {
        if (!Model.VariousTitles.Contains(item.Title))
        {
            Model.VariousTitles.Add(item.Title);
            <tr id="row-@item.AlbumId">
                <td>@Html.ActionLink(item.Title, "Details", "Store", new { id = item.AlbumId }, null)</td>
                <td>@item.Price</td>
                <td id="item-count-@item.AlbumId">@Model.Albums.Count(x => x.Title == item.Title)</td>
                <td><a href="#" class="RemoveLink" data-id="@item.AlbumId">Remove from cart</a></td>
            </tr>
        }
        
    }
    <tr>
        <td>Total</td>
        <td></td>
        <td></td>
        <td id="cart-total">@Model.TotalPrice</td>
    </tr>
</table>
