﻿@using MvcMusicStore.MongoDB
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>Initial albums to your database</title>
</head>
<body id="body_for_initialing">
    <div>
        @Html.ActionLink("Set albums to mongo", "InitialAlbums")
    </div>
</body>
</html>
