﻿@model MvcMusicStore.ViewModels.StoreManagerViewModels.StoreManagerDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete confirmation</h2>
<p>Are you sure want to delete the album titled
    <strong>@Model.Title</strong>
</p>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
