﻿@model MvcMusicStore.ViewModels.StoreManagerViewModels.StoreManagerDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Album</legend>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">GenreId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GenreName)
    </div>

    <div class="display-label">ArtistId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArtistName)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">AlbumArtUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AlbumArtUrl)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
