﻿@using MvcMusicStore.Models
@model IEnumerable<MvcMusicStore.ViewModels.StoreManagerViewModels.StoreManagerIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>@Html.ActionLink("Create new", "Create")</p>
<table>
    <tr>
        <th>Genre</th>
        <th>Artist</th>
        <th>Title</th>
        <th>Price</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.GenreName)</td>
            <td>@Html.DisplayFor(modelItem => item.ArtistName)</td>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.ActionLink("Edit", "Edit", new {id = item.Id})
                @Html.ActionLink("Detals", "Details", new {id = item.Id})
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }
</table>
