﻿@model MvcMusicStore.ViewModels.StoreViewModels.StoreDetailsViewModel

@{
    ViewBag.Title = "Album - " + Model.Title;
}

<h2>@Model.Title</h2>
<p>
    <img alt="@Model.Title" src="@Model.AlbumArtUrl" />
</p>

<div id="album-details">
    <p>
        <em>Genre:</em>
        @Model.GenreName
    </p>
    <p>
        <em>Artist:</em>
        @Model.ArtistName
    </p>
    <p>
        <em>Price:</em>
        @Model.Price
    </p>
    <p class="button">
        @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.Id}, "")
    </p>
</div>
